In [2]:
import os
import pandas as pd
import numpy as np
from pandas_datareader import wb
%load_ext autoreload
%autoreload 2

In [3]:
# Import plotting routines
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [4]:
desinventar = pd.read_csv('DesInventar.csv', encoding='utf-8', index_col=[0,1])

In [5]:
countries = desinventar.index.levels[0]

In [6]:
desinventar.head(4)

                        DataCards   Deaths   Injured   Missing  \
        Event
Albania ACCIDENT               29       40       292         9
        AVALANCHE              25       46        35        13
        COLD WAVE              24       22        12         0
        CONTAMINATION          14       19         2         0

                        Houses Destroyed   Houses Damaged   Victims  \
        Event
Albania ACCIDENT                       0                0         9
        AVALANCHE                      6                3         8
        COLD WAVE                      0                0         0
        CONTAMINATION                  0                0      1537

                        Affected   Relocated   Evacuated   Losses $USD  \
        Event
Albania ACCIDENT               3           0           0           0.0
        AVALANCHE              0           0           0           0.0
        COLD WAVE              0           0           0           0.0
        CONTAMINATION      30000          37           0           0.0

                        Losses $Local   Education centers   Hospitals  \
        Event
Albania ACCIDENT                  0.0                   0           0
        AVALANCHE           2267928.0                   0           0
        COLD WAVE          12000000.0                   0           0
        CONTAMINATION     250000000.0                   0           0

                        Damages in crops Ha.   Lost Cattle  \
        Event
Albania ACCIDENT                         0.0             0
        AVALANCHE                        0.0           183
        COLD WAVE                       64.0          1919
        CONTAMINATION                    0.0           492

                        Damages in roads Mts
        Event
Albania ACCIDENT                         0.0
        AVALANCHE                        0.0
        COLD WAVE                        0.0
        CONTAMINATION                    0.0

In [7]:
storms = desinventar.xs('STORM',level=1)
storms.head(2)

,DataCards,Deaths,Injured,Missing,Houses Destroyed,Houses Damaged,Victims,Affected,Relocated,Evacuated,Losses $USD,Losses $Local,Education centers,Hospitals,Damages in crops Ha.,Lost Cattle,Damages in roads Mts
Albania,199,13,23,0,124,1215,2383,34296,0,205,0.000000e+00,721819022.0,10,0,11698.4,5046,30850.0
Argentina,2824,438,4329,46,16362,33385,78936,6894368,0,187720,4.062805e+09,0.0,277,30,3016750.0,1050,32000.0

In [8]:
plot = np.array(storms[' Affected'].values, storms[' Losses $USD'].values)

TypeError: data type not understood

In [9]:
%matplotlib qt

In [10]:
fig = plt.figure(figsize=[12,9])
plt.scatter(storms[' Affected'], storms[' Losses $USD'], color='k', clip_on=False)
#plt.plot(storms['tot_aff'],  regress_multiple_p.params[0]*storms['tot_dam']
#        + regress_multiple_p.params[1] * storms['tot_death'], 'rx')


#plt.plot(x_grid, y_pol)
# for k in df_stats.index.values:
#     plt.annotate(xy = [df_stats.loc[k,'social_p'], df_stats.loc[k,'CPI2015']],
#                  s=k, xycoords='data')

plt.xlabel('Total affected')
plt.ylabel('Total damage in USD')
plt.title('Storms')
plt.xlim(0)
plt.ylim(0)
plt.legend()