In [1]:
import os
import pandas as pd
import numpy as np
from pandas_datareader import wb
%load_ext autoreload
%autoreload 2

In [2]:
# Import plotting routines
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [3]:
desinventar_events = pd.read_csv('DesInventar_Events.csv', encoding='utf-8', index_col=[0,1])
desinventar_storms = pd.read_csv('DesInventar_Storms.csv', encoding='utf-8', index_col=[0,1])

In [5]:
countries = desinventar_events.index.levels[0]

In [6]:
desinventar_events.head(4)

                        DataCards   Deaths   Injured   Missing  \
        Event
Albania ACCIDENT               29       40       292         9
        AVALANCHE              25       46        35        13
        COLD WAVE              24       22        12         0
        CONTAMINATION          14       19         2         0

                        Houses Destroyed   Houses Damaged   Victims  \
        Event
Albania ACCIDENT                       0                0         9
        AVALANCHE                      6                3         8
        COLD WAVE                      0                0         0
        CONTAMINATION                  0                0      1537

                        Affected   Relocated   Evacuated   Losses $USD  \
        Event
Albania ACCIDENT               3           0           0           0.0
        AVALANCHE              0           0           0           0.0
        COLD WAVE              0           0           0           0.0
        CONTAMINATION      30000          37           0           0.0

                        Losses $Local   Education centers   Hospitals  \
        Event
Albania ACCIDENT                  0.0                   0           0
        AVALANCHE           2267928.0                   0           0
        COLD WAVE          12000000.0                   0           0
        CONTAMINATION     250000000.0                   0           0

                        Damages in crops Ha.   Lost Cattle  \
        Event
Albania ACCIDENT                         0.0             0
        AVALANCHE                        0.0           183
        COLD WAVE                       64.0          1919
        CONTAMINATION                    0.0           492

                        Damages in roads Mts
        Event
Albania ACCIDENT                         0.0
        AVALANCHE                        0.0
        COLD WAVE                        0.0
        CONTAMINATION                    0.0

In [7]:
desinventar_storms.head(4)

               DataCards   Deaths   Injured   Missing   Houses Destroyed  \
        Year
Albania 1947           5        0         0         0                  0
        1954           1        0         0         0                  3
        1965           1        0         0         0                  0
        1967           1        0        12         0                  0

               Houses Damaged   Victims   Affected   Relocated   Evacuated  \
        Year
Albania 1947                0         0          0           0           0
        1954                0        12          0           0          12
        1965               20         0          0           0           0
        1967                0         0          0           0           0

               Losses $USD   Losses $Local   Education centers   Hospitals  \
        Year
Albania 1947             0             0.0                   0           0
        1954             0             0.0                   0           0
        1965             0             0.0                   2           0
        1967             0       1000000.0                   0           0

               Damages in crops Ha.   Lost Cattle   Damages in roads Mts
        Year
Albania 1947                    0.0             0                    0.0
        1954                    0.0            22                    0.0
        1965                   12.0          4803                    0.0
        1967                  200.0            18                    0.0

In [23]:
storms_affected = desinventar_storms[' Affected']
storms_losses = desinventar_storms[' Losses $USD']
storms_losses_local = desinventar_storms[' Losses $Local']

In [21]:
%matplotlib qt

In [26]:
fig = plt.figure(figsize=[12,9])
plt.scatter(storms_affected, storms_losses_local, color='k', clip_on=False)
#plt.plot(storms['tot_aff'],  regress_multiple_p.params[0]*storms['tot_dam']
#        + regress_multiple_p.params[1] * storms['tot_death'], 'rx')


#plt.plot(x_grid, y_pol)
# for k in df_stats.index.values:
#     plt.annotate(xy = [df_stats.loc[k,'social_p'], df_stats.loc[k,'CPI2015']],
#                  s=k, xycoords='data')

plt.xlabel('Affected')
plt.ylabel('Losses')
plt.title('Storms')
plt.xlim(0)
plt.ylim(0)
plt.legend()
plt.savefig('Affected_Losses.pdf', format='pdf')